@charset "UTF-8";

/* ページ全体のスタイル */
body {
    font-family: 'Noto Serif Japamese', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    color: #333;
}

a {
    color: #fff;
    text-decoration: none;
}

/* a:hover {} */

img {
    max-width: 100%;
    height: auto;
    display: block;
}

li {
    list-style: none;
}

.content {
    margin-bottom: 50px;
}

.title-logo {
    max-width: 143px;
    margin: 24px auto;
    z-index: 1;
}

.main-visual {
    width: 100%;
    background-image: url(../image/mainVisual_sp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 390 / 450;
}

/* .s-point {
    transform: translate(0, -50%);
} */

.selling-point {
    transform: translate(0, -24%);
    line-height: 1;
    margin-left: 23px;
    margin-bottom: 50px;
}

.selling-point h2 {
    font-family: "Marcellus", system-ui;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 12.3px;
    /* word-wrap: break-word; */
}

.selling-point p {
    font-size: 20px;
    font-weight: 400;
}

/* <!-- ﾎﾞﾀﾝ 併用 online-content --> */
.online-content {
    background-color: #F0F4FF;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.online-display {
    text-align: center;
    margin-bottom: 20px;
}

.Product-name {
    font-size: 18px;
}

.Product-price {
    font-size: 14px;
}

.button {
    display: block;
    text-align: center;
    border: 1.6px solid #fff;
    border-radius: 34px;
    width: 300px;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 18px;
}

.btn-online {
    background-color: #46C4DB;
    margin-bottom: 20px;
}

.btn-online:hover {
    border: 1.6px solid #46C4DB;
    color: #46C4DB;
    background-color: #fff;
}

.btn-purchase {
    background-color: #5DD5AB;
}

.btn-purchase:hover {
    border: 1.6px solid #5DD5AB;
    color: #5DD5AB;
    background-color: #fff;
}


/* 広告 */
.advertisement-content {
    color: #fff;
    margin-bottom: 46px;
}

.quality {
    width: 100%;
    background-image: url(../image/merchandise_sp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 390 / 680;
}

.quality {
    text-align: center;
    padding-top: 48px;
    padding-left: 16px;
    padding-right: 16px;
}

.quality-en {
    font-family: "EB Garamond", system-ui;
    font-size: 30px;
    font-weight: bold;
}

.quality-ja {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.quality p {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 318px;
}


/* 感想 */
.Voices-content {
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 39px;
    padding-right: 39px;
}


.title-voices {
    text-align: center;
}

.Voices {
    font-family: "EB Garamond", system-ui;
    font-size: 30px;
    font-weight: bold;
}

.customer-Voices {
    font-weight: 400;
    margin-bottom: 36px;
}

.purchaser-woman {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
}

.purchaser-opinion {
    font-size: 14px;
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 28px;
}

.layout-Properties {
    background-color: #DBF7F9;
    padding-top: 28px;
}

.Voices-point {
    margin: auto;
}

.slick-prev,
.slick-next {
    z-index: 100;
}

.slick-prev:before,
.slick-next:before {
    color: #00AFBF;
    font-family: bootstrap-icons !important;
    font-size: 32px;
}

.slick-next:before {
    content: '\F133';
}

.slick-prev:before {
    content: '\F129';
}

.slick-dots li button {
    color: #eee;
    font-size: 9px;
}


.slick-dots li.slick-active button:before {
    color: #00AFBF;
    font-size: 9px;
}

.slick-dots li button:before {
    color: #EEE;
    font-size: 9px;
}

/* Q&A */

.inquiry-content {
    background: transparent linear-gradient(90deg, #F4FFE8 0%, #C6F0FE 100%) 0% 0% no-repeat padding-box;
    padding-bottom: 32px;
}

.inquiry-title {
    text-align: center;
    line-height: 1;
    padding-top: 32px;
}

.inquiry-title h2 {
    font-family: "EB Garamond", serif;
    font-size: 30px;
    font-weight: bold;
}

.inquiry-title p {
    font-size: 16px;
    padding-top: 4px;
}


.inquiry-list {
    background-color: #fff;
    margin: 1rem;
}

.quistion-strt {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.quistion-box {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 22px;
    margin-left: 14px;
    margin-right: 40px;
}

.quistion-icon {
    width: 16px;
    height: 21px;
    place-items: center;
    display: grid;
    font-family: "EB Garamond", system-ui;
    font-weight: 500;
    color: #444;
    line-height: 1;
    font-size: 1rem;
    flex-shrink: 0;
}

.customer-q-text {
    font-size: 15px;
}

.bi-caret-up-fill {
    position: absolute;
    top: 17px;
    right: 16px;
}

/* ▼ の向き */
.quistion-strt.open i::before {
    color: #000;
    transform: rotate(180deg);
}

.quistion-strt i::before {
    color: #000;
    transform: rotate(0deg);
}

.answer-strt {
    margin: 15px 16px 18px 14px;
    font-size: 15px;
    /* display: none; */
}

.answer-box {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.answer-icon {
    width: 16px;
    height: 21px;
    place-items: center;
    display: grid;
    font-family: "EB Garamond", system-ui;
    font-weight: 500;
    color: #444;
    line-height: 1;
    font-size: 16px;
    flex-shrink: 0;
}

.customer-a-text {
    padding-bottom: 33px;
}



/* footer */
footer {
    position: relative;
    background-color: #0071CE;
    color: #fff;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

footer h2 {
    text-align: center;
    font-family: "Marcellus", system-ui;
    font-size: 35px;
    letter-spacing: 5.6px;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.buttom-to-top {
    position: absolute;
    background-color: #0071CE;
    color: #fff;
    bottom: 207px;
    right: 16px;
    width: 40px;
    height: 40px;
    font-size: 24px;
}

